
.navbar-nav {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: flex-start; /* Align items to the left */
  margin-left: 60%;
}
.nav-link {
  margin-right: 20px; /* Add some space between the links */
}
.navbar-nav .nav-link {
  color: black !important; /* Use !important to force the color change */
}
.navbar-nav .nav-link:hover {
  color: blue !important; /* Set the hover color to blue */
}

.navbar{
  padding: 0;
  position: relative; /* Set the navbar to a relative position */
  z-index: 2; /* Make sure the navbar is above other content */
}
li a span {
font-size: medium;
}
