
.container{
    background-color: whitesmoke;
    border-radius: 15px;
    margin-top: 2%;
}

.edit{
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
}
.edit:hover{
    background-color: lightgreen;
    color:black;
}
.d-flex{
    border-radius: 5px;
   
    margin-left: 67%;
    width: 20%;
}
.search-button{
    background-color: lightblue;
    border-radius: 5px;
    border: none;
}
.search-button:hover{
    background-color: rgb(8, 147, 193);
    color: white;
    
}
td, th, tr{
    text-align: center;
    cursor: pointer;
}
tr:hover{
background-color: lightblue;    
}
