
{% extends 'base.html' %}

{% block title %}
    Health Information
{% endblock title %}
    

{% block content %}
  <!-- Button trigger modal -->
<div class="card" style="padding: 2rem;">
  <h5 class="card-title">Contact Information</h5>
    <table class="table" id="example">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Contact Number</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Fire Department</th>
        <td>John Brinas</td>
        <td>0909246521515</td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock content %}
