
{% extends 'base.html' %}

{% block title %}
    Disaster Response Plan
{% endblock title %}
    

{% block content %}
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
{% endblock content %}
