<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8">
    <title>Health Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">

    <!-- App favicon -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <!-- Profile Header -->
        <div class="profile-foreground position-relative mx-n4 mt-n4">
            <div class="profile-wid-bg">
                <img src="{% static 'img/profile-bg.jpg' %}" alt="" class="profile-wid-img">
            </div>
        </div>

        <!-- Profile Info -->
        <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
            <div class="row g-4">
                <div class="col-auto">
                    <div class="avatar-lg">
                        <img src="{% static 'img/noprofil.jpg' %}" alt="user-img" class="img-thumbnail rounded-circle">
                    </div>
                </div>
                <div class="col">
                    <div class="p-2">
                        <h3 class="text-white mb-1">Anna Adame</h3>
                        <p class="text-white text-opacity-75">Data 1</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex profile-wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link fs-14" data-bs-toggle="tab" href="pages-profile.html#activities" role="tab">
                                <i class="ri-list-unordered d-inline-block d-md-none"></i>
                                <span class="d-none d-md-inline-block">Health Record</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Profile Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 me-2">Sample</h4>
                                <div class="flex-shrink-0 ms-auto">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-muted">
                                    <div class="tab-pane active" id="today" role="tabpanel">
                                        <div class="profile-timeline">
                                            <!-- Accordion -->
                                            <div class="accordion accordion-flush" id="todayExample">
                                                <div class="accordion-item border-0">
                                                    <div class="accordion-header" id="headingOne">
                                                        <a class="accordion-button p-2 shadow-none" data-bs-toggle="collapse" href="pages-profile.html#collapseOne" aria-expanded="true">
                                                            <div class="d-flex">
                                                                <div class="flex-grow-1 ms-3">
                                                                    <h6 class="fs-14 mb-1"></h6>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body ms-2 ps-5">
                                                            <!-- content -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item border-0">
                                                    <div class="accordion-header" id="headingTwo">
                                                        <!-- content -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end accordion-->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- container-fluid -->

    <!-- Scripts -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
    <!-- profile init js -->
    <script src="{% static 'js/pages/profile.init.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>
