<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <script src="{% static 'js/landing.js' %}" defer></script>
    
                <img alt="pic 1" src="{% static 'img/1.png' %}"  class="slide">
                <img alt="pic 2" src="{% static 'img/2.jpg' %}"  class="slide">
                <img alt="pic 3" src="{% static 'img/3.jpg' %}" class="slide">
                <img alt="pic 4" src="{% static 'img/4.webp' %}" class="slide">
                <img alt="pic 5" src="{% static 'img/5.jpg' %}" class="slide">

</div>
    <div class="center">
  <form action="{% url 'enterprise_services' %}" method="post">
    <div class="logo-container">
        <img alt="bitbo logo" src="{% static 'img/bitbo_logo.png' %}" class ="logo" >
    </div>
    <div class="txtfield">
        <input type="text" id="username" name="username" required>
        <span></span>
        <label for="username">Email</label>
    </div>
    <div class="txtfield">
        <input type="password" id="password" name="password" required>
        <span></span>
        <label for="password">Password</label>
    </div>
    <div class="pass">
    <button type="submit" onclick="redirectToMainPage()" class="click">Sign In</button>
<input type="hidden" id="services-url" value="{% url 'enterprise_services' %}">
</div>
<script src="{% static 'js/signin.js' %}" defer></script>

    <div class="forgotpassword">Forgot Password? Click <a href="/agreement" onclick="agreement()">here</a> to reset
        <script>
          async function agreement() {
          const response = await fetch('/agreement');
          const result = await response.text();
          window.location.href = '/agreement';
          }
        </script>
  </div>
  </div>
    
    </form>
</html>
