

  /*grid*/
  
  .icon {
    font-size: 100px; /* Adjust the size as needed */
    color: #ffffff; 
  }
  
  /* Define the button styles */
  
  .hover-button {
    min-width: 300px; /* Set a minimum width */
    min-height: 300px; /* Set a minimum height */
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex; /* Center content horizontally and vertically */
    flex-direction: column; /* Align content in a column layout */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
  }
  
  
  
  /* Define the hover effect */
  .hover-button:hover {
  background-color: #b92929; /* Change the background color on hover */
  }
  .custom-h4 {
    color: white;
}
.title{
  text-align: center;
  color: #3498db;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;

}
.h4title{
  text-align: center;
  margin-bottom: 2%;
  color: #3498db;
  font-family: 'Montesarrat-Bold', sans-serif;
  font-weight: 300;

}
.container{
  margin-top: 1.5%;
}

