<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Example</title>
</head>

<body>

    <a href="#" onclick="redirectFunction();">Barangay Disaster Risk Reduction and Management Plan and Committee Technical Guide</a>

    <script>
        function redirectFunction() {
            window.location.href = "https://alertandready.ph/qatportal/sites/default/files/B.%20Technical%20Guide%20Notes_English.pdf";
        }
    </script>

</body>

</html>
