{% extends 'index.html' %}
    
    {% block title %}
        Enterprise Services
    {% endblock title %}
        
{% block content %}
<br><br><br><br>
    <div class="container">
            
        <h4 class="h4title font-weight-bold">PLEASE CHOOSE FROM THE FOLLOWING SERVICES</h4>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-3">
                <button class="hover-button w-100" onclick="window.location.href='/health-information/infos'">
                    <div class="d-flex flex-row mb-3"><i class="icon fas fa-hospital"></i></div>
                    <h4 class="custom-h4"> Community Based<br>Health Information</h4>
                </button>
            </div>
            <div class="col-md-6 col-lg-6 mb-3">
                <button class="hover-button w-100" onclick="window.location.href='/disaster/plan'">
                    <div class="d-flex flex-row mb-3"><i class="icon fas fa-ambulance"></i></div>
                <h4 class="custom-h4">Disaster Preparedness<br>and Emergency Response</h4>
                </button>
            </div>
            <div class="col-md-6 col-lg-6 mb-3">
                <button class="hover-button w-100" onclick="window.location.href='/events-and-announcements/'">
                    <div class="d-flex flex-row mb-3"><i class="icon fas fa-calendar-alt"></i></div>
                    <h4 class="custom-h4"> Events and Announcements</h4>
                </button>
            </div>
            <div class="col-md-6 col-lg-6 mb-3">
                <button class="hover-button w-100" onclick="window.location.href='/financial-management/'">
                    <div class="d-flex flex-row mb-3"><i class="icon fas fa-money-check-alt"></i></div>
                    <h4 class="custom-h4">Financial Management<br></h4>
                </button>
            </div>
            <div class="col-md-6 col-lg-6 mb-3">
                <button class="hover-button w-100" onclick="window.location.href='/population-commission/'">
                    <div class="d-flex flex-row mb-3"><i class="icon fas fa-file-alt"></i></div>
                    <h4 class="custom-h4">Population Commission Reports</h4>
                </button><br>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', path='css/services.css')}}">
<link rel="stylesheet" href="{{ url_for('static', path='css/main.css')}}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 
 {% endblock %}