{% extends 'index.html' %}

{% block title %}
    Health Records
{% endblock title %}
    
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Records</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyU8HihC8L/CGggpHNKh/kZMY5c9VR6fc" crossorigin="anonymous">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Flatpickr library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- Data Table JS -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
</head>


<body>
<div class="main-content">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div><p></p></div>
                    <!-- Donut Chart -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="donutChart" class="chartjs-chart" width="460" height="225"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <!-- Start of row for stat cards -->
                            <!-- Stat Card 1 -->
                            <div class="col-xl-12 col-lg-8">
                                <div class="card-animate card" style="height: 120px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Number of Residents</h5>
                                                <span class="h2 font-weight-bold mb-0">10,000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Stat Card 2 (below the first stat chart) -->
                            <div class="col">
                                <div class="card-animate card" style="height: 120px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Resident with Illnesses</h5>
                                                <span class="h2 font-weight-bold mb-0">123</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of row for stat cards -->
                    </div>
                        <!-- Line Chart -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="lineChart" class="chartjs-chart" width="460" height="225"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div><p></p></div>

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Health Information Records</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


     <div class="card-body" style="height: 750px; overflow: auto;">
        <div class="table-responsive">
                <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10px;">
                                <div class="form-check">
                                    <input class="form-check-input fs-15" type="checkbox" id="checkAll" value="option">
                                </div>
                            </th>
                            <th data-ordering="false">#</th>
                            <th data-ordering="false">Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in health %}
                            
                        <tr>
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input fs-15" type="checkbox" name="checkAll" value="option1">
                                </div>
                            </th>
                            <td></td>
                            <td>{{i.full_name}}</td>
                            <td>{{i.date_of_birth}}</td>
                            <td>{{i.address}}</td>
                            <td>
                                
                                <button class="btn btn-soft-success" type="button" data-bs-toggle="modal">
                                    <a href="view/{{i.id}}" class="dropdown-item" id="modalButton"> <i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>

                                </button>
                                <button class="btn btn-soft-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="{{i.id}}">
                                    <a class="dropdown-item" id="healthDelete"> <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a>
                                </button>
                            </td>
                            
                        </tr>
                        
                        {% endfor %}

                    </tbody>
                    
                </table>
                
            </div>
        </div>
    </div>
</div>
<!-- container-fluid -->

<!-- View Modal -->
<!-- <div class="modal fade" id="viewModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Resident Health Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> -->
                <!-- Personal Details Column -->
                <!-- <div class="row">
                    <div class="col-md-6 border-end">
                        <p><strong>PERSONAL DETAILS</strong></p>
                        <p><strong>Name:</strong></p>
                        <p><strong>Date of Birth:</strong></p>
                        <p><strong>Gender:</strong></p>
                        <p><strong>Address:</strong></p>
                        <p><strong>Contact Number:</strong></p>
                        <br><br>
                        <p><strong>VACCINATION DETAILS</strong></p>
                        <p><strong>Vaccine:</strong></p>
                        <p><strong>Vaccination Date:</strong></p>
                        <p><strong>Dose:</strong></p>
                        <br><br>
                        <p><strong>MEDICAL HISTORY</strong></p>
                        <p><strong>Illness:</strong></p>
                        <p><strong>Date of Diagnose:</strong></p>
                        <p><strong>Medicine:</strong></p>
                        <p><strong>Dosage:</strong></p>
                        <p><strong>Frequency:</strong></p>
                    </div>
                    <div class="col-md-6">
                        <br>{{health.full_name}}<br>
                        <p></p>
                        <p>None</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <br><br><br><p></p>
                        <p>Sample</p>
                        <p>Date</p>
                        <p>Dose</p>
                        <br><br><br><p></p>
                        <p>Sample</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Resident Health Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="view-health-info">
                <form>
                    <div class="mb-3">
                        <p><strong>PERSONAL DETAILS</strong></p>
                        <label for="editName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="editName" name="name">
                        <br>
                        <label for="editName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editName">
                        <br>
                        <div class="mb-3">
                        <label for="editBirthDate" class="form-label">Date of Birth (YYYY-MM-DD)</label>
                        <input type="date" class="form-control flatpickr" id="editBirthDate">
                        </div>

                        <label for="editGender" class="form-label">Gender</label>
                        <select class="form-select" id="editIllness">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <br>
                        <label for="editAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="editAddress">
                        <br>
                        <label for="editContact" class="form-label">Contact Number</label>
                        <input type="tel" class="form-control" id="editContact" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required placeholder="099-123-456-78">
                        
                        <br><p><strong>VACCINATION DETAILS</strong></p>
                        <label for="editVaccine" class="form-label">Vaccine</label>
                        <select class="form-select" id="editIllness">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                        </select>
                        <br>
                        <div class="mb-3">
                        <label for="editVaccinationDate" class="form-label">Vaccination Date (YYYY-MM-DD)</label>
                        <input type="date" class="form-control flatpickr" id="editVaccinationDate">
                        </div>

                        <label for="editDose" class="form-label">Dose</label>
                        <select class="form-select" id="editIllness">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                        </select>
                        
                        <br><p><strong>MEDICAL HISTORY</strong></p>
                        <label for="editIllness" class="form-label">Illness</label>
                        <select class="form-select" id="editIllness">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                        </select>

                        <br>
                        <div class="mb-3">
                        <label for="editDiagnoseDate" class="form-label">Date of Diagnose (YYYY-MM-DD)</label>
                        <input type="date" class="form-control flatpickr" id="editDiagnoseDate">
                        </div>
                        <label for="editMedicine" class="form-label">Medicine</label>
                        <select class="form-select" id="editIllness">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                        </select>
                        
                        <br>
                        <label for="editDosage" class="form-label">Dosage</label>
                        <select class="form-select" id="editIllness">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                        </select>

                        <br>
                        <label for="editFrequency" class="form-label">Frequency</label>
                        <input type="text" class="form-control" id="editFrequency">
                    
                    </div>


                    <div class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmEditBtn">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".flatpickr", {
            dateFormat: "Y-m-d",  // Set your desired date format
        });
    });
</script> -->

<!-- Delete Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="performDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Dummy data for the donut chart
        var donutChartData = {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [554, 653], // Example data
                backgroundColor: ['Blue', 'Red'],
            }]
        };

        // Create the donut chart
        var ctxDonut = document.getElementById('donutChart').getContext('2d');
        var donutChart = new Chart(ctxDonut, {
            type: 'doughnut',
            data: donutChartData,
            options: {
                cutout: '50%', // Adjust this value to control the size of the hole in the center
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Dummy data for the line chart
        var lineChartData = {
            labels: ['Pneumonia', 'Asthma', 'Diabetes', 'Hypertension', 'HIV/AIDS'],
            datasets: [{
                label: 'Summary of Illnesses',
                borderColor: 'rgb(75, 192, 192)',
                data: [12, 19, 3, 5, 2], // Example data
                fill: false,
            }]
        };

        // Create the line chart
        var ctxLine = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctxLine, {
            type: 'line',
            data: lineChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'category',
                        labels: lineChartData.labels,
                    },
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    });

    $(document).ready(function() {
    $('#example').DataTable({
        responsive: true,
        // Disable sorting on the last column
        "columnDefs": [
            { "orderable": false, "targets": 5 }
        ],
        language: {
            'paginate': {
                'previous': '<span class="fa fa-chevron-left"><</span>',
                'next': '<span class="fa fa-chevron-right">></span>'
            },
            // Customize the number of elements to be displayed
            "lengthMenu": 'Display <select class="form-control input-sm">'+
            '<option value="10">10</option>'+
            '<option value="20">20</option>'+
            '<option value="30">30</option>'+
            '<option value="40">40</option>'+
            '<option value="50">50</option>'+
            '<option value="-1">All</option>'+
            '</select> results'
        },
    });
    
});

//       $('#modalButton').click(function () {

      
//          // getting the value of the input fields
//          var product = $('#product').val();
//          var quantity = $('#quantity').val();
//          var price = $('#price').val();
//          var total = $('#total').val();
//          var htmlStr = '<p> Product: ' + product + '</p>' +
//          '<p> Quantity: ' + quantity + '</p>' +
//          '<p> Price: ' + price + '</p>' +
//          '<p> Total: ' + total + '</p>';
         


//          // adding the data to the modal
//          $('.modal-body').html(htmlStr);
//       });
//    </script>
</body>

<!--          // adding the data to the modal
         $('.modal-body').html(htmlStr);

         // adding the data to the modal
         $('#view-health-info').html(htmlStr);

      });
   </script>  -->
<!-- 
   <script>
    $(document).ready(function () {
        // Make an Ajax request to the server
        var $data = $('#index-result')
        $.ajax({
            url: '/health-information/info/vac/3',
            type: 'GET',
            dataType: 'json',  // Specify that you expect JSON data
            success: function (data) {
                $.each(data, function(i, user){
                    $data.append('<li>'+ data.full_name +'</li>');
                    $data.append('<li>'+ data.vaccines +'</li>');
                });
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }); -->
<!-- </script> -->
{% endblock content %}
