{% extends 'index.html' %}

{% block title %}
    Privacy Policy
{% endblock title %}

{% block content %}

<style>

    div .container #body-container{
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin:  auto;
        overflow-y: auto;
    }
    .center {
        text-align: justify;
    }
    
    #privacyHead{
        text-align: center;
    }
    
    .card #privacy{
    
        padding: 20px;
        height: 600px;
        overflow: auto;

    }
    
    .logo-container {
        max-width: 75px;
        margin: 0 auto;
    }
    
    .logo {
        width: 100%;
        height: auto;
    }
    
    form {
        border: 2px solid black;
        padding: 20px;
    }
    
    #myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    }
    
    
    </style>
    
<br><br><br><br>

<div class="container" id="body-container">
    <div class="card mx-auto" id="privacy">
        <form action="#" method="">
            <div class="logo-container">
                <img alt="bitbo logo" src="{{ url_for('static', path='img/bitbo_logo.png')}}" class="logo">
            </div>
            <div>
            <h2 id="privacyHead">Welcome to BITBO Enterprise!</h2><br>
            <p>This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you use our services. By using Bangay IT Robot, you agree to the terms of this Privacy Policy.</p>
    
            <h6><strong>Information We Collect:</strong></h6>
            <ul>
                <li>Personal Information: We may collect personal information such as your name, contact details, and position as a barangay official.</li>
                <li>Usage Information: We collect information about how you interact with Bangay IT Robot, including the features you use and the actions you take.</li>
            </ul>
        
            <h6><strong>How We Use Your Information:</strong></h6>
            <ul>
                <li>Service Provision: We use your information to provide and improve the services offered by Bangay IT Robot.</li>
                <li>Communication: We may use your contact details to communicate with you regarding updates, changes, and important information related to Bangay IT Robot.</li>
                <li>Analytics: We analyze usage patterns to enhance the functionality and user experience of Bangay IT Robot.</li>
            </ul>
        
            <h6><strong>Information Sharing:</strong></h6>
            <by>We do not sell, trade, or otherwise transfer your personal information to external parties without your consent, except as required by law or to comply with legal processes.</p>
            
            <h6><strong>Data Privacy Act of 2012:</strong></h6>
            <by>Our data processing practices comply with the Data Privacy Act of 2012 to ensure the protection and privacy of your personal information.</by>
            <br><br>
            <h6><strong>Contact Us:</strong></h6>
            <p>If you have any questions or concerns about this Privacy Policy, please contact us at bitbo@gmail.com.</p>
    
            <div class="pass" style="text-align: center;">
                <input type="checkbox" id="privacyCheckbox"><strong style="color: black;"> I have read and agree to the privacy policy.</strong><br> 
                <button type="button" onclick="validateCheckbox()" class="btn btn-primary">Proceed</button>
            </div>
        </div>
        </form>
    </div>
</div>

  <!-- Modal HTML -->
  <div id="myModal">
    <div class="modal-content">
      <p>Please accept the privacy policy before proceeding.</p>
      <!-- Add close button or any additional content as needed -->
      <button type="button" onclick="closeModal()" class="btn btn-secondary">Close</button>
    </div>
  </div>

  <script>
    function validateCheckbox() {
      var checkbox = document.getElementById("privacyCheckbox");
      if (!checkbox.checked) {
        document.getElementById("myModal").style.display = "block";
      } else {
        window.location.href = "/enterprise_services";
      }
    }

    function closeModal() {
      // Close the modal
      document.getElementById("myModal").style.display = "none";
    }
  </script>

  <!-- Add Bootstrap JS script here -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-4N5KqLdIw6SEZI2z4dC+3ddO/6QIc0RnFOc/zLm5H9T02Nl1Z3arz7foN8IhRTNU" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6aWuHABdEIlHRS1N6U4Jd2k9fo1uSpbp" crossorigin="anonymous"></script>


</body>
</html>

{% endblock %}
