<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css')}}">
  </head>
  <body>
    <script src="{{ url_for('static', path='js/landing.js')}}" defer></script>
    
                <img alt="pic 1" src="{{ url_for('static', path='img/1.png')}}"  class="slide">
                <img alt="pic 2" src="{{ url_for('static', path='img/2.jpg')}}"  class="slide">
                <img alt="pic 3" src="{{ url_for('static', path='img/3.jpg')}}" class="slide">
                <img alt="pic 4" src="{{ url_for('static', path='img/4.webp')}}" class="slide">
                <img alt="pic 5" src="{{ url_for('static', path='img/5.jpg')}}" class="slide">

</div>
    <div class="center">
  <form action="/login/au" method="get">
    <div class="logo-container">
        <img alt="bitbo logo" src="{{ url_for('static', path='img/bitbo_logo.png')}}" class ="logo" >
    </div>
    <div class="txtfield">
        <input type="text" id="username" name="username">
        <span></span>
        <label for="username">Email</label>
    </div>
    <div class="txtfield">
        <input type="password" id="password" name="password">
        <span></span>
        <label for="password">Password</label>
    </div>
    <div class="pass">
    <!-- <button type="submit">Sign In</button> -->
    <button type="submit" id="loginForm" class="btn btn-primary">Sign In</button>
  <input type="hidden" id="services-url">
</form>

<!-- <script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        // Capture the credentials from the form
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        // Send a request to the server to authenticate and obtain the token
        fetch('http://127.0.0.1:8000/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to authenticate');
            }
            return response.json();
        })
        .then(data => {
            // Store the JWT token securely (e.g., in local storage or session storage)
            localStorage.setItem('token', data.access_token);

            // Redirect the user to the desired route
            window.location.href = 'http://your-fastapi-django-app.com/locked-route';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script> -->


</html>
