
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar" class="topbar-shadow">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">

                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', path='img/Logo.png')}}" alt=""height="100">
                    </span>
                </div>
                
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/health-information/infos" class="nav-link" target="_blank">Barangay Residents Health Information</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="/disaster_response" class="nav-link" target="_blank">Barangay Disaster Plan</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="/events" class="nav-link" target="_blank">Barangay Events & Announcements</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="/financial_management" class="nav-link" target="_blank">Financial</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="/population_commission" class="nav-link" target="_blank">Population Summary</a>
                    </div>
                    
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/faqs" class="nav-link">FAQs</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="privacy" class="nav-link">Privacy Policy</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="terms_conditions" class="nav-link">Term & Conditions</a>
                    </div>

                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#" class="nav-link" target="_blank">Settings</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarLogout" data-key="">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</header>
</div>


