
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar" class="topbar-shadow">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">

                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <span class="logo-sm">
                        <img src="{{ url_for('static', path='img/Logo.png')}}" alt=""height="100">
                    </span>
                </div>
                
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,5">Services</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="health_records'" class="nav-link" target="_blank" data-key="">Health Based Information</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="'disaster_response'" class="nav-link" target="_blank" data-key=""> Disaster Preparedness & Emergency Response</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="'events'" class="nav-link" target="_blank" data-key="">Events & Announcements</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="'financial_management'" class="nav-link" target="_blank" data-key="">Financial Management</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="'population_commission'" class="nav-link" target="_blank" data-key="">Population Commission Reports</a>
                    </div>
                    
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,5">About</button>

                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="" class="nav-link" data-key="t-team">Teams</a>
                        <hr class="dropdown-divider">
                        <a href="'faqs'" class="nav-link" data-key="t-faqs"> FAQs </a>
                        <hr class="dropdown-divider">
                        <a href="'privacy'" class="nav-link" data-key="t-privacy-policy">Privacy Policy</a>
                        <hr class="dropdown-divider">
                        <a href="'terms_conditions'" class="nav-link" data-key="t-term-conditions">Term & Conditions</a>
                    </div>

                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,5">Account</button>
                    <div class="dropdown-menu">
                        <a href="" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarLogout" data-key="t-logout">Logout</a>
                        <hr class="dropdown-divider">
                    </div>

                </div>
                
                <!-- Sidebar -->
            </div>
        </div>
    </div>
</div>
</div>
</header>
</div>


