{% extends 'index.html' %}

{% block title %}
    Resident Health Information
{% endblock title %}
    
{% block content %}

<br><br>
<div class="container mt-5">
    <h3 class="mb-4">Resident Health Information</h3>
    <div class="row">
        <!-- Personal Information Card -->
        <div class="col-md-6">
            <div class="card mb-4" style="height: 97%;" >
                <div class="card-header">
                    <h3><b>Personal Information</b></h3>
                </div>
                <div class="card-body">
                    <div class="logo-container d-flex justify-content-center">
                        <img alt="User Photo" src="{{ url_for('static', path='img/OIP.jpg')}}" class ="logo" >
                    </div>
                                        
                    <p>Name: <b>{{person.full_name}}</b></p>
                    <p>Date of Birth: <b>{{person.date_of_birth}}</b></p>
                    <p>Gender: <b>{{person.gender}}</b></p>
                    <p>Age:</p>
                    <p>Address: <b>{{person.address}}</b></p>
                    <p>Contact Number:</p>
                        
                        
                </div>
            </div>
        </div>

        <!-- Vaccine Details Card -->
        <div class="col-md-6">
            <div class="card mb-4" style="width: 800px;">
                <div class="card-header">
                    Vaccination Details
                </div>
                <div class="card-body">
                    {% if vaccine|length > 0 %}
                    <table id="vaccineTable" class="display table-striped">
                        <thead>
                        <tr>
                            <th>Vaccine Name</th>
                            <th>Date Received</th>
                            <th>Dose</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in vaccine %}
                        <tr>
                            <td align="left"><p><b>{{i.vaccine}}</b></p></td>
                            <td><p>{{i.vaccinated_date}}</p></td>
                            <td><p>{{i.dose}}</p></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    {% elif vaccine|length == 0 %}
                        <p>Vaccine Name: <b>{{vaccine.vaccine}}</b></p>
                        <p>Date Received: <b>{{vaccine.vaccinated_date}}</b></p>
                        <p>Dose: <b>{{vaccine.dose}}</b></p>

                    {% else %}
                    No vaccinations recorded for this resident yet.

                    {% endif %}
                </div>
            </div>

            <!-- Medical History Card -->
            <div class="card mb-4" style="width: 800px;">
                <div class="card-header">
                    Medical History
                </div>
                <div class="card-body">
                    
                    {% if medical|length > 0 %}
                    
                        <!-- {% for i in medical %}
                            <p>Illness: <b>{{i.illness}}</b></p>
                            <p>Date of Diagnose: <b>{{i.diagnosed_date}}</b></p>
                            <p>Medicine: <b>{{i.medicine}}</b></p>
                            <p>Dose: <b>{{i.dosage}}</b></p>
                            <p>Frequency: <b>{{i.frequency}}</b></p>
                            <br><hr class="divider"><br>
                        {% endfor %} -->
                        There are many histories.

                    {% elif medical|length == 0 %}
                        <h4>1 history</h4>
                    {% else %}
                        <h4>No Medical History.</h4>
                    {% endif %}
                        
                </div>
            </div>

            <!-- Emergency Contacts Card -->
            <div class="card" style="width: 800px;">
                <div class="card-header">
                    Emergency Contacts
                </div>
                
                {% if contact|length > 0 %}
                    
                    {% for c in contact %}
                        <div class="card-body">
                        <p>Contact Name: <b>{{c.contact_name}}</b></p>
                        <p>Relationship: <b>{{c.relationship}}</b></p>
                        <p>Contact Number: <b>{{c.contact_number}}</b></p>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="card-body">
                    <p>Contact Name: <b>{{contact.contact_name}}</b></p>
                    <p>Relationship: <b>{{contact.relationship}}</b></p>
                    <p>Contact Number: <b>{{contact.contact_number}}</b></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}`